<div class="row">
    <div class="col-md-12">
        <br />
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2" colspan="2">ລ/ດ</th>
                    <th rowspan="2">ຊື່ ແລະ ນາມສະກຸນ</th>
                    <th rowspan="2">ວ, ດ, ປ ເກີດ</th>
                    <th colspan="3">ບ້ານເກີດ</th>
                    <th colspan="3">ທີ່ຢູ່ປະຈຸບັນ</th>
                    <th rowspan="2">ວ, ດ, ປ <br />ເຂົ້າການ <br />ປະຕິວັດ</th>
                    <th rowspan="2">ວ, ດ, ປ <br />ເຂົ້າການ <br />ສັງກັດລັດ</th>
                    <th colspan="2">ຕຳແຫນ່ງທີໄດ້ຮັບ</th>
                    <th rowspan="2">ຊົນເຜົ່າລາວ</th>
                    <th rowspan="2">ສາດສະຫນາ</th>
                    <th rowspan="2">ລະດັບ<br />ວັດທະນາທຳ</th>
                    <th rowspan="2">ລະດັບວິຊາ<br />ສະເພາະ</th>
                    <th rowspan="2">ວິຊາທີ່ຮຽນມາ</th>
                    <th rowspan="2">ບ່ອນຮຽນຈົບ</th>
                    <th colspan="2">ຊັ້ນ-ຂັ້ນ</th>
                    <th rowspan="2">ພາສາຕ່າງປະເທດ</th>
                    <th colspan="3">ເຂົ້າອົງກອນຈັດຕັ້ງມະຫາຊົນ</th>
                    <th colspan="2">ວ, ດ, ປ ເຂົ້າພັກ</th>
                    <th rowspan="2"></th>
                    <th colspan="5">ລວມອາຍູ ແລະ ປີການ</th>
                    <th rowspan="2">ໝາຍເຫດ</th>
                </tr>
                <tr>
                    <!-- <th colspan="3">ບ້ານເກີດ</th> -->
                    <th>ບ້ານ</th>
                    <th>ເມືອງ</th>
                    <th>ແຂວງ</th>
                    <!-- <th colspan="3">ທີ່ຢູ່ປະຈຸບັນ</th> -->
                    <th>ບ້ານ</th>
                    <th>ເມືອງ</th>
                    <th>ແຂວງ</th>
                    <!-- <th colspan="2">ຕຳແຫນ່ງທີໄດ້ຮັບ</th> -->
                    <th>ຊັ້ນຕຳແຫນ່ງ</th>
                    <th>ວ, ດ, ປ</th>
                    <!-- <th colspan="2">ຊັ້ນ-ຂັ້ນ</th> -->
                    <th>ຊັ້ນ</th>
                    <th>ຂັ້ນ</th>
                    <!--<th colspan="3">ເຂົ້າອົງກອນຈັດຕັ້ງມະຫາຊົນ</th>-->
                    <th>ແມ່ຍິງ</th>
                    <th>ຂາວໜຸ່ມ</th>
                    <th>ກຳມະບານ</th>
                    <!--<th colspan="2">ວ, ດ, ປ ເຂົ້າພັກ</th>-->
                    <th>ສຳຮອງ</th>
                    <th>ສົມບູນ</th>
                    <!--<th colspan="5">ລວມອາຍູ ແລະ ປີການ</th>-->
                    <th>ເກີດ</th>
                    <th>ເຂົ້າການ</th>
                    <th>ປະຈຸບັນ</th>
                    <th>ລວມ<br />ອາຍຸ</th>
                    <th>ອາຍຸການ</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    @*<th>15</th>*@
                    <th>16</th>
                    @*<th>17</th>
                    <th>18</th>*@
                    <th>19</th>
                    <th>20</th>
                    <th>21</th>
                    <th>22</th>
                    <th>23</th>
                    <th>24</th>
                    <th>25</th>
                    <th>26</th>
                    <th>27</th>
                    <th>28</th>
                    <th>29</th>
                    <th>30</th>
                    <th>31</th>
                    <th></th>
                    <th>32</th>
                    <th>33</th>
                    <th>34</th>
                    <th>35</th>
                    <th>36</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="38">ຫົວຫນ້າກົມພາສີ</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>ທ່ານ ບຸນປະເສີດ ສີກຸນລະບຸດ</td>
                    <td>30.10.66</td>
                    <td>ຫາຍໂສກ</td>
                    <td>ຈັນທະບູລີ</td>
                    <td>ນຄຫຼວງ</td>
                    <td>ທາດຫຼວງໃຕ້</td>
                    <td>ໄຊເສດຖາ</td>
                    <td>ນຄຫຼວງ</td>
                    <td></td>
                    <td>01.06.84</td>
                    <td>ຮັກສາການຫົວຫນ້າກົມ</td>
                    <td></td>
                    <!--@*
    <td>15</th>*@-->
                    <td>ລຸ່ມ</td>
                    <!--@*
    <td>17</th>
    <td>18</th>*@-->
                    <td>ພູດ</td>
                    <td>ມ.6</td>
                    <td>ປ/ຍ.ຕີ</td>
                    <td>ອັກສອນສາດ</td>
                    <td>ພາຍໃນຫ</td>
                    <td>4</td>
                    <td>9</td>
                    <td>ອັງກິດ</td>
                    <td></td>
                    <td>08.06.88</td>
                    <td>03.08.85</td>
                    <td>13.02.96</td>
                    <td>23.04.97</td>
                    <td>1</td>
                    <td>1966</td>
                    <td>1984</td>
                    <td>2017</td>
                    <td>51</td>
                    <td>33</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    
</div>
